.App {
  text-align: center;
  background-image: url('./assets/hpbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  padding-left: 5vw;
  padding-right: 5vw;
overflow: scroll;
}
.card{
  content: "";
  justify-content: space-between;
  margin: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}
.sub-card{
  width: 22rem;
  height: 25rem;
  background-color: rgba(0, 0, 0, 0.575);
  border: 1.5px solid whitesmoke;
  justify-content: center;
  border-radius: 8px;
  box-shadow: '#ddd';
 
}

.sub-card:hover{
  width: 22rem;
  height: 25rem;
  background-color: rgba(0, 0, 0, 0.753);
  border: 2px solid white;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}


img{ 
 
  border: 1px solid whitesmoke;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;

 
}
.about{
  line-height: .5rem;
}
.name-style{
  font-weight: bolder;
  font-size: large;
  font-family: cursive;
  color: aliceblue;
}
.actor-style{
  font-size: medium;
  color: aliceblue;
}

.text{
  color: antiquewhite;
}
@media only screen and (max-width: 360) {
  .card{
    content: "";
    justify-content: space-between;
    margin: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }
}